body{

align-items:center ;
height: 100%;
display: flex;
justify-content: center;
background-color: black;
flex-direction: column;
 background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  transition: 0.3s;

}



#cube{

    
    display: grid;
    position: relative;
    justify-content: center ;
    gap: 35px;
    flex-direction: column;
    background-color: aliceblue;
    padding: 50px 70px;
    height: 450px;
    width: 500px;
    
    margin: -5px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    margin-top: -20px;
    background-color: black;
}

h1{
  
    font-size: 50px;
    /* color:white;
    border:none;
    border-radius: 25px;
    width: 300px;
    height:40px;
    max-width: 400px;
   text-align: center;
    font-size: xx-large;
    background-color:rgb(13, 101, 184);
     */
   
}



#button-container{

display: flex;
justify-content: center;
    
}

.playAgain:focus{
    color: blue;
    background-color: lightblue;
}

#memoryGame{

width: 400px;
height: 400px;
display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item{
    position: relative;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
font-size: 2em;
transition: 0.25s;
        transform: rotateY(180deg);



}
.item.boxOpen{

        transform: rotateY(0deg);

}
.item::after{

    content: '';
    position: absolute;
    inset:0;
    background-color: rgb(13, 101, 184);
    transition: 0.25s;
    transform:rotate(0deg);
    opacity: 0.86;
    backface-visibility: hidden;

}

.boxOpen::after{


    transform: rotateY(180deg);
}

.boxOpen::after , .boxMatch::after{


    transform: rotateY(180deg) ;
}

.win{
    position: relative;
    top:-300px;
    width: 200px;
    height: 150px ;
    background-color: rgb(13, 101, 184);
    color: white;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    font-size: xx-large;
    margin-top: -75px;

}


.playAgain{

    border:none;
    border-radius: 25px;
    width: 300px;
    height: 50px;
    max-width: 200px;
   
    font-size: large;
    background-color: beige;
    color: black;
    margin-bottom: -450px;
    margin-top: -5px;
   
}

.dark {
  position: fixed;        
  top: 20px;               
  right: 20px;             
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50px;     
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); 
  z-index: 1000;           
  transition: 0.3s;
}


.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .dark {
  background-color: white;
  color: black;
}


.dark-mode .playAgain {
  background-color: white;
  color: black;
}

.dark-mode #cube {
  background-color: #1e1e1e;
}

